
/*CARDS*/

.container {
	background-color: #FAFAFA;
	width: 100%;
	margin:0;
}
.row {
	background-color: #FAFAFA;
	display: flex;
	justify-content: center;
}

.jkbutton {
	border:1px solid #237DBF;
	width:120px;
	height: 120px;
	text-align: center;
	padding: 2.88%;
	border-radius:100%;
	font-family: "Source Sans Pro";
	font-weight: bold;
	font-size:12px;
	margin:0 auto;
	background-color:transparent;
	
	
}

.jkbutton a:hover {
	text-decoration: none;
}

/*FOOTER*/
footer {
	background-color:#FAFAFA;
	color:#237DBF;
	font-size:12px;
	font-family: "Source Sans Pro";
	font-weight: bold;
}

.jklinks {
	display:flex;
	justify-content: center;
	margin-right: 20px;
	margin-top: 20px;

}


footer .jklinks ul li
 {
	display: inline-block;
	margin-right: 20px;

}

li a:hover {
	text-decoration: none;
}
